/* reset confing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Fira Code";
}

img {
    width: 100%;
    height: auto;
    display: block;
}


body {
    background-color: #1E1E1E;
    color: white;
}

.container {

    display: flex;
    flex-direction: column;
    width: 100%;
}

/* header */

.header {
    /* position: relative; */
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 2em;
    overflow: hidden;
}

.heading {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
}

.heading .img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    box-shadow: 0 0 0.9em 0.2em rgba(255, 254, 254, 0.5);
}

.heading img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 5em;
}

.welcome-msg {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

nav {
    display: flex;
    justify-self: center;
    align-self: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 10em;
}

li a {
    text-decoration: none;
    color: inherit;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover entire header */
    z-index: -1;
    /* Place it behind other content */
}

/* Old slider */

/* 
.slider {
    margin-top: 2em;
    position: relative;
}

.slides {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.slides img {
    width: 200px;
    height: 200px;
    flex: 0 0 auto;
    transition: all 0.5s ease-in-out;
}

.slider h1 {
   margin: 0 auto;
} */

.about {
    width: 40%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    line-height: 1.5;
}

.about h2 {
    align-self: center;
}

.about p {
    text-indent: 2em;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    max-width: 600px;
    margin: auto;
    position: relative;
  }
  .slide {
    display: none;
  }

  .slide img {
    width: 200px;
    height: 200px;
  }